offload_dir/
data/
results/
gdv_100_0/
VisionTF Interim Results.pdf
20imgs.png
ZHAW Vision Kickoff.pptx
overview_of_assigned_labels.png
raw_data/.DS_Store
.DS_Store
~$architecture of model.pptx
architecture of model.pptx
architecture_out.txt
InterimResults.pptx
raw_data/results-FAU_25_0.npy
